{% extends 'layout.html' %} {% block content %}
<!-- Default home page -->
<div class="row header">
  <h3 class="two columns logo">Artistly</h3>
  <nav class="nine columns">
    <div class="cd-modal-action nav">
			<a href="#how" class="btn-green-flat-trigger">Our Story</a>
      <span class="cd-modal-bg"></span>
			<a href="https://artistlyblog.co/" style="padding-left: 10px;">Blog</a>
			 <a href="https://www.facebook.com/pages/Artistly/1426642520980223?ref=bookmarks" class="ion-social-facebook social"><!-- facebook --></a>
			 <a href="https://twitter.com/ArtistlyCo" class="ion-social-twitter social"><!-- twitter --></a>
			 <a href="https://instagram.com/artistly.co/" class="ion-social-instagram social"><!-- instagram --></a>
			 <a href="https://plus.google.com/+ArtistlyCorp/about" class="ion-social-googleplus social"><!-- google --></a>
			
      
      <!--<li><a href="#upvote">Upvote your favorite events</a></li>-->
      <!--<li><a href="#tip">Tip your favorite artists</a></li>-->
    </div>
  </nav>
</div>
<div class="container">

  <div id="content">
    <div class="inner">
      <div class="row">
        <div class="twelve columns">
					<div class="child">
					<h1 class="cover-heading">Where art lovers meet indie events.</h1>
					<span class="blurb">Discover independent artists in your city.</span>
					</div>

        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
					<div class="child">
          <input type="text" class="js-email" placeholder="Enter email..">
          <span class="input-group-btn">
            <button class="btn btn-default js-submit" type="button">Request invite</button>
          </span>
					</div>
        </div>
      </div>
			<div class="row">
				<div class="twelve columns">
				<img src="images/homepage_image.png" class="main-img"/>
				</div>
			</div>
			<div class="row cities">
        <div class="twelve columns">
					<div class="post-events child">
					<h4>Receive tips for your artwork</h4>
					<p>Artists can receive tips for their artwork. <br />A new way to promote indie artist and help them monetize their artwork.</p>
					</div>
					 <img src="images/tip.png" alt="" />

        <p>
				 </div>
      </div>
			 <div class="row cities">
        <div class="twelve columns">
					<div class="post-events child">
					<h4>Browse and post events</h4>
					<p>Post your favorite indie art event. <br />Watch as the community upvotes and comments on it</p>
					</div>
					 <img src="images/post-events.png" alt="" />

        <p>
				 </div>
      </div>
			
			<div class="row">
        <div class="twelve columns">
					<div class="child">
          <input type="text" class="js-email" placeholder="Enter email..">
          <span class="input-group-btn">
            <button class="btn btn-default js-submit" type="button">Request invite</button>
          </span>
					</div>
        </div>
      </div>

      <div class="row cities live">
        <div class="four columns">San Francisco</div>
        <div class="four columns">New York</div>
        <div class="four columns">Barcelona</div>
      </div>
    </div>

  </div>

  <div class="global-modal">
    <div class="overlay"></div>
    <div class="global-modal_contents modal-transition">
      <div class="global-modal-header">
        <a class="mobile-close">Close</a>
        <h3>Our Story</h3>
      </div>
      <div class="global-modal-body">
        <p>What is our story? Simply put, it’s a story of the underdog. It’s a story of how we are trying to fight for more awareness for the small, indie artists out there that are going up against the goliaths. It’s how we’re building something that can
          get more of these indie artist’s work out there and known</p>
        <p>
          <em>
            <strong>It’s a story of building a platform that will make it easy to discover indie artists in your city.</strong>
          </em>
        </p>
        <h5>Browse and Upvote Events</h5>
        <p>We’re building something that will bring together all the indie events happening in your city, you can upvote an event, let's say is like hunting for events in the city.
          <br />Art lovers can know about these events and show their support.
        </p>
        <h5>Tip your artists</h5>
        <p>Artists can receive tips for an event they plan to attend, A new way to promote indie artist and help them monetize their artwork.
        </p>
      </div>
    </div>
  </div>
</div>



{% endblock %}