//colors
$primary-color: #74d578;
$secondary-color: #a4e363;

// fonts
$header-font-family: 'montserratbold';

// body fonts
$body-font-family: 'latoregular';

// misc fonts
$misc-font-family: 'alfa_slab_oneregular';
$blurb-font-family: 'latohairline_italic';

