//colors
$primary-color: #65d165;
$secondary-color: #a4e363;
$orange-color: #e56e5c;
$black-color: #383737;

// fonts
$header-font-family: 'montserratbold';

// body fonts
$body-font-family: 'latoregular';

// misc fonts
$misc-font-family: 'alfa_slab_oneregular';
$blurb-font-family: 'latohairline_italic';

